<p>
    This is a custom web app developed by Hein Smith (https://github.com/somejavadev) purely for assisting with the creation of ossim plugins.
    <br/>
    The web app is not meant to run in a production environment rather to be used by developers in their own development environment.
    <br/>
    Please be aware that usage of this web app is at your own risk.
    <br/>
    I have licensed this app under MIT to allow any individuals to use it as they would like to. If you feel you want to contribute to this project please do so via github.
    <br/>
    <br/>
    <strong>Disclaimer</strong>: This web app is not affiliated with, nor is it an official app of <a href="https://www.alienvault.com/">AlienVault</a>
</p>
