<script type="text/ng-template" id="errorMessages">
    <span ng-message="required">This field is required.</span>
    <span ng-message="min">This number is less than its minimum allowed value.</span>
    <span ng-message="max">This number exceeds its maximum allowed value.</span>
    <span ng-message="number">A number is required.</span>
    <span ng-message="date">A date is required.</span>
    <span ng-message="maxlength">The character length of this field exceeds its maximum allowed length</span>
    <span ng-message="minlength">The character length of this field is lower than its minimum allowed length</span>
</script>